<p id="notice"><%= notice %></p>

<p>
  <strong>Property name:</strong>
  <%= @property.Property_Name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @property.price %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @property.remark %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
